In [1]:
#importando a biblioteca do cassandra que instalamos no python

from cassandra.cluster import Cluster
import csv

In [2]:
#criando a conexao com o cassandra rodando localmente
try:
    cluster = Cluster(['localhost'], port=9042)
    session = cluster.connect()
except Exception as e:
    print(e)

In [3]:
# criando o keyspace
try:
    session.execute("""
        CREATE KEYSPACE IF NOT EXISTS imdb
        WITH REPLICATION = {
            'class' : 'SimpleStrategy',
            'replication_factor' : 1
        }
    """)
except Exception as e:
    print(e)

In [4]:
#conectando ao keyspace que criamos no passo anterior
try:
    session.set_keyspace('imdb')
except Exception as e:
    print(e)

In [5]:
#escrevendo nosso comando de criação para a tabela estudante
command = """
CREATE TABLE IF NOT EXISTS imdb.tb_filme (
    id_filme UUID PRIMARY KEY,
    nome_titulo_filme text,
    ano_lancamento_filme text,
    indicado_posicao_ranking_filme int,
    classificacao_indicativa text,
    duracao text,
    orcamento text,
    bilheteria text,
    slogan text
);
"""

In [6]:
#executando o comando em nosso banco de dados
try:
    session.execute(command)
except Exception as e:
    print(e)

In [12]:
# Para facilitar o entendimento e os trabalhos, escreveremos métodos para cada operação que faremos no banco de dados
# Método para inserir um estudante, recebendo um dicionario como parametro com os dados do estudante, reaproveitando a 
# nossa conexão com o cassandra criada nos steps anteriores

def insert_estudante(estudante):
    query = "insert into estudante(matricula, cpf, curso, turno, nome_completo, idade, periodo) values ({}, '{}', '{}', '{}', '{}', {}, {})".format(
        estudante['matricula'],
        estudante['cpf'],
        estudante['curso'],
        estudante['turno'],
        estudante['nome_completo'],
        estudante['idade'],
        estudante['periodo']
    )
    try:
        session.execute(query)
        print("Estudante inserido com sucesso")
    except Exception as e:
        print(e)

In [13]:
# Testando nosso método de inserção de estudante
## criando o documento do nosso estudante
estudante = {
    'matricula': 1234,
    'cpf': '123.456.789-00',
    'curso': 'Engenharia de Software',
    'turno': 'Noturno',
    'nome_completo': 'João Machado 98 da Silva',
    'idade': 20,
    'periodo': 4
}
## inserindo o estudante
insert_estudante(estudante)

Estudante inserido com sucesso

In [15]:
# Método para listar os estudantes inseridos no banco de dados
def select_estudantes():
    query = "select * from estudante"
    try:
        rows = session.execute(query)
        print("Estudantes cadastrados: ")
        for row in rows:
            print(row)
    except Exception as e:
        print(e)

In [16]:
# Testando nosso método de listagem de estudantes
select_estudantes()

Estudantes cadastrados:
Row(matricula=1234, cpf='123.456.789-00', curso='Engenharia de Software', idade=20, nome_completo='João Machado 98 da Silva', periodo=4, turno='Noturno')

In [19]:
# Método para pesquisar um estudante pela matricula
def select_estudante(matricula=None):
    query = "select * from estudante where matricula = {}".format(matricula)
    try:
        rows = session.execute(query)
        print("Estudante encontrado: ")
        for row in rows:
            print(row)
    except Exception as e:
        print(e)

In [20]:
# Testando nosso método de pesquisa de estudante
## Pesquisando pela matricula
select_estudante(matricula=1234)

Estudante encontrado:
Row(matricula=1234, cpf='123.456.789-00', curso='Engenharia de Software', idade=20, nome_completo='João Machado 98 da Silva', periodo=4, turno='Noturno')

In [21]:
# Método para atualizar um estudante
def update_estudante(estudante):
    query = "update estudante set curso = '{}', turno = '{}', nome_completo = '{}', idade = {}, periodo = {} where matricula = {} and cpf = '{}'".format(
        estudante['curso'],
        estudante['turno'],
        estudante['nome_completo'],
        estudante['idade'],
        estudante['periodo'],
        estudante['matricula'],
        estudante['cpf']
    )
    try:
        session.execute(query)
        print("Estudante atualizado com sucesso")
    except Exception as e:
        print(e)

In [23]:
# Testando nosso método de atualização de estudante
## Criando o evento de atualização do estudante
estudante = {
    'matricula': 1234,
    'cpf': '123.456.789-00',
    'curso': 'Engenharia de Software',
    'turno': 'Noturno',
    'nome_completo': 'João Machado 98 da Silva',
    'idade': 21,
    'periodo': 5
}
## Atualizando o estudante
update_estudante(estudante)
## Reexibindo o estudante para verificar a atualização
select_estudante(matricula=1234)

Estudante atualizado com sucesso
Estudante encontrado:
Row(matricula=1234, cpf='123.456.789-00', curso='Engenharia de Software', idade=21, nome_completo='João Machado 98 da Silva', periodo=5, turno='Noturno')

In [24]:
# Método para deletar um estudante
def delete_estudante(matricula=None):
    query = "delete from estudante where matricula = {}".format(matricula)
    try:
        session.execute(query)
        print("Estudante deletado com sucesso")
    except Exception as e:
        print(e)

In [25]:
# Testando nosso método de deleção de estudante
## Deletando o estudante
delete_estudante(matricula=1234)
## Reexibindo os estudantes para verificar a deleção
select_estudantes()

Estudante deletado com sucesso
Estudantes cadastrados: